* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF9933;
}

html{
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.6;
}



.active {
    color: var(--primary-color) !important;
}

a {
    transition: all 0.3s ease;
}

a:focus,
a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

#logo {
    height: 30px;
    border-radius: 4px;
    vertical-align: baseline;
}

.navbar {
    padding: 0;
    background-color: #f2f2f2 !important;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 30px;
    color: var(--primary-color) !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    color: #000000 !important;
    padding-bottom: 10px;
    text-align: center;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.navbar-text {
    cursor: pointer;
}

.nav-link {
    font-weight: 450;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    width: 220px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 582px;
}

.sub-menu {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #525255;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:last-child p {
    margin-bottom: 0;
}

.sub-menu-link:hover p {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.content {
    margin-top: 73px;
    position: relative;
}

.content .container {
    background-color: #f2f2f2;
    border-radius: 20px;
}

.header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 140px;

}

.car-img img {
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.btn {
    border-radius: 15px;
    padding: 5px 14px;
    transition: all 0.2s ease;
    max-width: 100%;
}

.btn-primary {
    color: #fff!important;
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    font-size: 90%;
    font-weight: 400;
}

.btn-primary:active,
.btn-primary:hover {
    color: var(--primary-color)!important   ;
    background-color: transparent!important;
    border: 2px solid var(--primary-color) !important;
}

.btn-back{
    background-color:transparent!important;
    color: #000000!important;
}

.btn-back:active,
.btn-back:hover{
    color: var(--primary-color)!important;
}

@media (max-width: 768px) {
    .car-img{
        text-align: center;
    }
    .car-img img{
        position: static;
        transform: translateY(0%);
    }
}

@media (min-width: 576px) {
    .edit-btn{
        margin-left: 33.33%!important;
    }
}

a{
    text-decoration: none;
}

footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: 5rem;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #FF9933;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #FF9933;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#FF9933;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

@media screen and (min-width: 1200px){
    .navbar .container {
        max-width: 1280px;
    }
}