* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF9933;
}

body {
    text-align: justify;
    line-height: 1.6;
}

.active {
    color: var(--primary-color) !important;
}

a {
    transition: all 0.3s ease;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

#logo {
    height: 30px;
    border-radius: 4px;
    vertical-align: baseline;
}

.navbar {
    padding: 0;
    background-color: #f2f2f2 !important;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 30px;
    color: var(--primary-color) !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    color: #000000 !important;
    padding-bottom: 10px;
    text-align: center;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.navbar-text {
    cursor: pointer;
}

.nav-link {
    font-weight: 450;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 20%;
    width: 220px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 582px;
}

.sub-menu {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #525255;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:last-child p {
    margin-bottom: 0;
}

.sub-menu-link:hover p {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.content {
    margin-top: 73px;
    position: relative;
}

.content .container {
    background-color: #f2f2f2;
    border-radius: 20px;
}

.header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 140px;

}

.car-img img {
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.btn {
    border-radius: 15px;
    padding: 5px 14px;
    transition: all 0.2s ease;
    max-width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    font-size: 90%;
    font-weight: 400;
}

.btn-primary:active,
.btn-primary:hover {
    color: var(--primary-color);
    background-color: transparent!important;
    border: 2px solid var(--primary-color) !important;
}

.btn-back{
    background-color:transparent!important;
    color: #000000!important;
}

.btn-back:active,
.btn-back:hover{
    color: var(--primary-color)!important;
}

@media (max-width: 768px) {
    .car-img{
        text-align: center;
    }
    .car-img img{
        position: static;
        transform: translateY(0%);
    }
}

@media (min-width: 576px) {
    .edit-btn{
        margin-left: 33.33%!important;
    }
}

.card-header{
    text-align: center;
}

.track{
    position: relative;
    background-color: #ddd;
    height: 7px;display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}
.track .step.active:before{
    background: #FF5722
}
.track .step::before{
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}
.track .step.active .icon{
    background: #ee5435;
    color: #fff
}
.track .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}.track .step.active .text{
    font-weight: 400;
    color: #000
}.track .text{
    display: block;
    margin-top: 7px
}