* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF9933;
}

html{
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.6;
}

.active {
    color: var(--primary-color) !important;
}

a {
    transition: all 0.3s ease;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

#logo {
    height: 30px;
    border-radius: 4px;
    vertical-align: baseline;
}

.navbar {
    padding: 0;
    background-color: #f2f2f2 !important;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 30px;
    color: var(--primary-color) !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    color: #000000 !important;
    padding-bottom: 10px;
    text-align: center;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.navbar-text {
    cursor: pointer;
}

.nav-link {
    font-weight: 450;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 20%;
    width: 220px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 582px;
}

.sub-menu {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #525255;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:last-child p {
    margin-bottom: 0;
}

.sub-menu-link:hover p {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.content {
    margin-top: 73px;
    position: relative;
}

.content .container {
    background-color: #f2f2f2;
    border-radius: 20px;
}

.header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 140px;

}

.car-img img {
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.btn {
    border-radius: 15px;
    padding: 5px 14px;
    transition: all 0.2s ease;
    max-width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    font-size: 90%;
    font-weight: 400;
}

.btn-primary:active,
.btn-primary:hover {
    color: var(--primary-color)!important;
    background-color: transparent!important;
    border: 2px solid var(--primary-color) !important;
}

.btn-back{
    background-color:transparent!important;
    color: #000000!important;
}

.btn-back:focus,
.btn-back:hover{
    color: var(--primary-color)!important;
    box-shadow: none;
}

@media (max-width: 768px) {
    .car-img{
        text-align: center;
    }
    .car-img img{
        position: static;
        transform: translateY(0%);
    }
}

@media (min-width: 576px) {
    .edit-btn{
        margin-left: 33.33%!important;
    }
}

.container-content{
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #f8f9fa;
    margin-top: 100px;
}

.box-1 {
    max-width: 450px;
    padding: 20px 40px;
    user-select: none;
}

.box-1 div .fs-12 {
    font-size: 8px;
    color: white;
}

.box-1 div .fs-14 {
    font-size: 15px;
    color: white;
}

.box-1 img.pic {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.box-1 img.mobile-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box-1 .name {
    font-size: 11px;
    font-weight: 600;
}

.dis {
    font-size: 14px;
    font-weight: 400;
}

label.box {
    width: 100%;
    font-size: 12px;
    background: #ddd;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

#one:checked~label.first,
#two:checked~label.second,
#three:checked~label.third {
    border-color: #7700ff;
}

#one:checked~label.first .circle,
#two:checked~label.second .circle,
#three:checked~label.third .circle {
    border-color: #7a34ca;
    background-color: #fff;
}

label.box .course {
    width: 100%;
}

label.box .circle {
    height: 12px;
    width: 12px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid transparent;
    display: inline-block;
}


.box-2 {
    max-width: 450px;
    padding: 20px 40px;
}


.box-2 .box-inner-2 input.form-control {
    font-size: 12px;
    font-weight: 600;
}

.box-2 .box-inner-2 .inputWithIcon {
    position: relative;
}

.box-2 .box-inner-2 .inputWithIcon span {
    position: absolute;
    left: 15px;
    top: 8px;
}

.box-2 .box-inner-2 .inputWithcheck {
    position: relative;
}

.box-2 .box-inner-2 .inputWithcheck span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 6px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #7700ff;
}

.border:focus-within {
    border: 1px solid #7700ff !important;
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none;
}

.form-select {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px;

}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px;

}

.box-2 .box-inner-2 .btn.btn-outline-primary {
    width: 120px;
    padding: 10px;
    font-size: 11px;
    padding: 0% !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
}

.box-2 .box-inner-2 .btn.btn-primary {
    background-color: #7700ff;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px;
}

.box-2 .box-inner-2 .btn.btn-primary:hover {
    background-color: #7a34ca;
}

.box-2 .box-inner-2 .btn.btn-primary .fas {
    font-size: 13px !important;
    color: whitesmoke;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-inner {
    width: 100%;
    height: 250px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1;
}

.carousel-control-prev:hover .fas.fa-arrow-left {
    transform: translateX(-5px);
}

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1;
}

.carousel-control-next:hover .fas.fa-arrow-right {
    transform: translateX(5px);
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1;
}

.fas,
.fab {
    color: #6d6c6d;
}

::placeholder {
    font-size: 12px;
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto;
    }

    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto;
    }

}

@media (max-width:426px) {

    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px;
    }

    ::placeholder {
        font-size: 9px;
    }
}

a{
    text-decoration: none;
}

footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: 5rem;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #FF9933;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #FF9933;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#FF9933;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

@media screen and (min-width: 1200px){
    .navbar .container {
        max-width: 1280px;
    }
}