:root {
    --primary-color: #FF9933;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh;
}

.brand-wrapper {
    margin-bottom: 19px;
}

.brand-wrapper .logo {
    height: 32px;
}

.signup-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

.signup-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.signup-card .card-body {
    padding: 85px 60px 60px;
    text-align: center;
}

@media (max-width: 422px) {
    .signup-card .card-body {
        padding: 35px 24px;
    }
}

.signup-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.signup-card form {
    width: 326px;
    display: inline-block;
}

.signup-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
}

.signup-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
}

.signup-card .form-control::-moz-placeholder {
    color: #919aa3;
}

.signup-card .form-control:-ms-input-placeholder {
    color: #919aa3;
}

.signup-card .form-control::-ms-input-placeholder {
    color: #919aa3;
}

.signup-card .form-control::placeholder {
    color: #919aa3;
}

.signup-card .signup-btn {
    padding: 13px 20px 12px;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    margin-top: 12px;
}

.signup-card .signup-btn:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
    float: right;
}

.forgot-password-link:hover{
    color:#000;
}

.text-reset{
    color: var(--primary-color)!important;
}

.social-signup{
    justify-content:center;
}

.social-signup-btn{
    text-transform:none;
}

.social-signup-btn img{
    margin-bottom:3px; 
    margin-right:5px;
}

