* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF9933;
}

html{
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.6;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

.card {
    background-color: #f2f2f2;
    padding: 14px;
    border: none
}


.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

.badge i {
    font-size: 10px
}

.name{
    font-size:14px;
}

.comment-ratings i {
    font-size: 13px
}

.comment  {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.btn-more {
    height: 40px;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 30%;
    border-radius: 20px;
}

.btn-more:hover{
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}

.buttons .btn {
    height: 46px;
}

.buttons .buy {
    line-height: 32px;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.buttons .buy:hover {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}

.buttons .wishlist {
    background-color: #fff;
    border-color: var(--primary-color)
}

.buttons .wishlist:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: var(--primary-color);
    margin-top: 8px;
}

.comment-ratings i {
    color: #f6d151
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}

#logo {
    height: 30px;
    border-radius: 4px;
    vertical-align: baseline;
}

.navbar {
    padding: 0;
    background-color: #f2f2f2 !important;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 30px;
    color: var(--primary-color) !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    color: #000000 !important;
    padding-bottom: 10px;
    text-align: center;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.navbar-text {
    cursor: pointer;
}

.nav-link {
    font-weight: 450;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    width: 220px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 582px;
}

.sub-menu {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #525255;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:last-child p {
    margin-bottom: 0;
}

.sub-menu-link:hover p {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.container-fluid{
    margin-top: 5.5rem!important;
    max-width: 1000px;
}

.bg-primary-color{
    background-color: var(--primary-color);
}

.car-info{
    width: 152px;
}

.relate-header{
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
    font-size:  1.2rem;;
    font-weight: 700;
}
 
.product-card {
    position: relative;
    margin: 10px 0px;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    cursor: pointer;
}

.product-card .card-thumbnail {
    background: #000000;
    /* height: 400px; */
    overflow: hidden;
}

.product-card .card-thumbnail img {
    display: block;
    width: 100%;
    -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
    -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
    transition: all .3s cubic-bezier(0, .5, .5, 1);
}

.product-card:hover .card-thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.order-btn-text{
    position: absolute;
    left: 8px;
    top: 15px;
    color: #fff;
}

.product-card .card-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 40px 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.product-card .card-content .order-btn {
    position: absolute;
    top: -30px;
    right: 10px;
    height: 60px;
    width: 60px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
    opacity: 0;
}

.product-card:hover .card-content .order-btn {
    opacity: 1;
}

.product-card .card-content .card-title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.product-card .card-content .card-sub-title {
    margin: 0;
    padding: 0 0 20px;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.product-card .card-content .description {
    color: #666666;
    font-size: 12px;
    line-height: 1.8em;
    display: none;
}

.description ul{
    list-style: none;
    display:flex; 
    justify-content: space-between;
}

.price{
    display: flex;
    justify-content: center;
}

.price-text{
    position: relative;
    padding: 2px;
    background-color: var(--primary-color);
    color:#fff;
    text-align: center;
    border-radius: 50px;
    width: 55%;
}

.product-card .card-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
    display: flex;
    justify-content:space-between;
}


.product-card .card-content .post-meta a {
    color: inherit;
    text-decoration: none;
}

.btn-back:hover{
    color: var(--primary-color)!important;
}

.btn-back:focus{
    box-shadow: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: 5rem;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #FF9933;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #FF9933;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#FF9933;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

hr{
    margin-top: 0!important;
}

@media screen and (min-width: 1200px){
    .navbar .container {
        max-width: 1280px;
    }
}