<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DeniedUser</filter-name>
        <filter-class>filter.DeniedUser</filter-class>
    </filter>
    <filter>
        <filter-name>DeniedAdmin</filter-name>
        <filter-class>filter.DeniedAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Stat.jsp</url-pattern>
        <url-pattern>/changePassword.jsp</url-pattern>
        <url-pattern>/editAdmin.jsp</url-pattern>
        <url-pattern>/editCategory.jsp</url-pattern>
        <url-pattern>/editCustomer.jsp</url-pattern>
        <url-pattern>/editOrder.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/manage-account.jsp</url-pattern>
        <url-pattern>/manage-admin.jsp</url-pattern>
        <url-pattern>/manage-car.jsp</url-pattern>
        <url-pattern>/manage-category.jsp</url-pattern>
        <url-pattern>/manage-customer.jsp</url-pattern>
        <url-pattern>/manage-order.jsp</url-pattern>
        <url-pattern>/qrcode.jsp</url-pattern>
        <url-pattern>/static.jsp</url-pattern>
        <url-pattern>/stat.js</url-pattern>
        <url-pattern>/viewCustomerDetail.js</url-pattern>
        <url-pattern>/viewOrderStatus.js</url-pattern>
        <url-pattern>/viewProductDetail.js</url-pattern>
        <url-pattern>/viewProfile.js</url-pattern>
        <url-pattern>/wishList.js</url-pattern>
        <url-pattern>/addaccount</url-pattern>
        <url-pattern>/addadmin</url-pattern>
        <url-pattern>/addcategory</url-pattern>
        <url-pattern>/addcustomer</url-pattern>
        <url-pattern>/addorder</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/delete_account</url-pattern>
        <url-pattern>/delete_admin</url-pattern>
        <url-pattern>/delete_category</url-pattern>
        <url-pattern>/delete_customer</url-pattern>
        <url-pattern>/delete_order</url-pattern>
        <url-pattern>/delete_product</url-pattern>
        <url-pattern>/edit_admin</url-pattern>
        <url-pattern>/edit_category</url-pattern>
        <url-pattern>/edit_order</url-pattern>
        <url-pattern>/edit_product</url-pattern>
        <url-pattern>/load_to_edit_admin</url-pattern>
        <url-pattern>/load_to_edit_category</url-pattern>
        <url-pattern>/load_to_edit_order</url-pattern>
        <url-pattern>/load_to_edit</url-pattern>
        <url-pattern>/load_to_view_admin</url-pattern>
        <url-pattern>/load_to_view_customer</url-pattern>
        <url-pattern>/load_to_view</url-pattern>
        <url-pattern>/manageaccount</url-pattern>
        <url-pattern>/manageadmin</url-pattern>
        <url-pattern>/managecategory</url-pattern>
        <url-pattern>/managecustomer</url-pattern>
        <url-pattern>/manageorder</url-pattern>
        <url-pattern>/manageproduct</url-pattern>
        <url-pattern>/static</url-pattern>
        <url-pattern>/getStatic</url-pattern>
        <url-pattern>/verify_customer</url-pattern>
        <url-pattern>/changePassword</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/delete_wishlist</url-pattern>
        <url-pattern>/edit_customer</url-pattern>
        <url-pattern>/load_to_edit_profile</url-pattern>
        <url-pattern>/load_to_order</url-pattern>
        <url-pattern>/load_to_view_order</url-pattern>
        <url-pattern>/viewprofile</url-pattern>
        <url-pattern>/Rating</url-pattern>
        <url-pattern>/wishlist</url-pattern>
        <url-pattern>/add_to_wishlist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DeniedUser</filter-name>
        <url-pattern>/Stat.jsp</url-pattern>
        <url-pattern>/editAdmin.jsp</url-pattern>
        <url-pattern>/editCategory.jsp</url-pattern>
        <url-pattern>/editOrder.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/manage-account.jsp</url-pattern>
        <url-pattern>/manage-admin.jsp</url-pattern>
        <url-pattern>/manage-car.jsp</url-pattern>
        <url-pattern>/manage-category.jsp</url-pattern>
        <url-pattern>/manage-customer.jsp</url-pattern>
        <url-pattern>/manage-order.jsp</url-pattern>
        <url-pattern>/static.jsp</url-pattern>
        <url-pattern>/stat.js</url-pattern>
        <url-pattern>/viewCustomerDetail.js</url-pattern>
        <url-pattern>/viewProductDetail.js</url-pattern>
        <url-pattern>/addaccount</url-pattern>
        <url-pattern>/addadmin</url-pattern>
        <url-pattern>/addcategory</url-pattern>
        <url-pattern>/addcustomer</url-pattern>
        <url-pattern>/addorder</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/delete_account</url-pattern>
        <url-pattern>/delete_admin</url-pattern>
        <url-pattern>/delete_category</url-pattern>
        <url-pattern>/delete_customer</url-pattern>
        <url-pattern>/delete_order</url-pattern>
        <url-pattern>/delete_product</url-pattern>
        <url-pattern>/edit_admin</url-pattern>
        <url-pattern>/edit_category</url-pattern>
        <url-pattern>/edit_order</url-pattern>
        <url-pattern>/edit_product</url-pattern>
        <url-pattern>/load_to_edit_admin</url-pattern>
        <url-pattern>/load_to_edit_category</url-pattern>
        <url-pattern>/load_to_edit_order</url-pattern>
        <url-pattern>/load_to_edit</url-pattern>
        <url-pattern>/load_to_view_admin</url-pattern>
        <url-pattern>/load_to_view_customer</url-pattern>
        <url-pattern>/load_to_view</url-pattern>
        <url-pattern>/manageaccount</url-pattern>
        <url-pattern>/manageadmin</url-pattern>
        <url-pattern>/managecategory</url-pattern>
        <url-pattern>/managecustomer</url-pattern>
        <url-pattern>/manageorder</url-pattern>
        <url-pattern>/manageproduct</url-pattern>
        <url-pattern>/static</url-pattern>
        <url-pattern>/getStatic</url-pattern>
        <url-pattern>/verify_customer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DeniedAdmin</filter-name>
        <url-pattern>/Stat.jsp</url-pattern>
        <url-pattern>/editAdmin.jsp</url-pattern>
        <url-pattern>/manage-admin.jsp</url-pattern>
        <url-pattern>/static.jsp</url-pattern>
        <url-pattern>/stat.js</url-pattern>
        <url-pattern>/addadmin</url-pattern>
        <url-pattern>/delete_admin</url-pattern>
        <url-pattern>/edit_admin</url-pattern>
        <url-pattern>/load_to_edit_admin</url-pattern>
        <url-pattern>/load_to_view_admin</url-pattern>
        <url-pattern>/manageadmin</url-pattern>
        <url-pattern>/static</url-pattern>
        <url-pattern>/getStatic</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GoogleSigninServlet</servlet-name>
        <servlet-class>Controllers.Authenication.GoogleSignin.GoogleSigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>Controllers.Authentication.GoogleLogin.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
